:root {
    --color-main: #74c3ce;
    --color-main-light: #0073bf;
    --color-dark: #26273d;
    --color-dark-medium: #efede7;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden;
    width: 100%;

    margin: 0 auto;
}



.layout {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right top, #050046, #00b7ff);
    position: relative;
}
.layout header .logo {
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
}

.layout header .logo img{
    max-width: 60px;
    max-height: 60px;
}

.layout header .logo h2 a{
    display: block;
    font-size: 38px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 5px black;
}
.layout header {
    max-height: 120px;
    background-color:  var(--color-main-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
     list-style: none;
    padding: 40px 30px 45px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: .4s;
}
nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus{
    border-bottom: 2px solid white;
}

nav ul li.active a{
    border-bottom: 2px solid white;
}

header .btn a {
    background: transparent;
    color: white;
    border: 1px solid #050046;
    padding: 9px 20px;
    border-radius: 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    margin-left: 150px;
    text-decoration: none;
}

header .btn:hover a {
    border: 1px solid white;
    color: black;
    background: white;
    transition: .4s;
}

.user_data {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
}

.user_data img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    border: solid 2px white
}
.user_data .user_data_name {
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
}

.user_data_name h2{
    font-size: 20px;
    font-weight: bold;
}

.user_data svg {
    min-width: 30px;
    min-height: 40px;
    margin-left: 10px;
    cursor: pointer;
}

.sub_menu_wrap {
  position: absolute;
  top: 120px;
  right: 0px;
  width: 250px;
  max-height: 0px;
  overflow: hidden;
  z-index: 9999;
  transition: max-height 0.5s;
}

.sub_menu_wrap.open_menu {
  max-height: 400px;
}

.sub_menu {
  background: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
}

.user_info {
  display: flex;
  align-items: center;
}

.user_info h6 {
  font-weight: 500;
  margin-left: 20px;
  color: #050046;
}

.sub_menu hr, .profile_info hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.sub_menu_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #050046;
  margin: 12px 0;
  transition: all 0.3s ease-in-out;
    border-radius: 8px;
}

.sub_menu_link:hover {
    background: var(--color-green);
}

.sub_menu_link i {
  width: 30px;
  height: 30px;
  padding: 8px;
  margin-right: 15px;
}

.sub_menu_link p {
  width: 100%;
  font-weight: bold;
}


.content {
  padding-top: 60px;
  padding: 40px 180px 30px;
  width: 50%;
  float: left;
    max-height: 60rem;
}

.content .main-text {
  position: relative;
  z-index: 2;
  margin-bottom: 40px;
  height: 40rem;
}

.content .main-text h6 {
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin-bottom: 40px;
}

.content .main-text h1 {
  font-size: 100px;
  line-height: 1;
  color: white;
  margin: 0 0 45px;
  font-family: "Permanent Marker", cursive;
}

.content .main-text h3 {
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.content .main-text p {
  max-width: 100%;
  width: 480px;
  color: white;
  line-height: 1.8;
  font-size: 15px;
  margin-bottom: 50px;
    max-height: 100%;
}

.content .main-text a {
  display: inline-block;
  text-decoration: none;
  color: black;
  background: white;
  border: 1px solid white;
  padding: 9px 25px;
  line-height: 1.4;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
}

.content .main-text a:hover {
  transform: scale(1.2);
  border: 1px solid #050046;
  background: transparent;
  color: white;
  transition: 0.4s;
}

.contact {
  background: linear-gradient(#000000, #07264d);
  height: 15rem;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.contact h2 {
  color: white;
  font-family: Georgia;
  font-size: 32px;
  font-weight: 1400;
  text-align: center;
}

.contact .social {
  position: relative;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  left: 50%;
  width: 90%;
  max-width: 1200px;
  top: 5rem;
}

.contact .social .btn {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #fff;
  box-shadow: 0 5px 15px -5px #aaa;
  margin: 10px;
  border-radius: 30%;
  overflow: hidden;
  position: relative;
  color: #42d2ff;
}

.contact .social .btn i {
  position: relative;
  z-index: 4;
  line-height: 60px;
  font-size: 26px;
  transition: 0.3s ease-in-out;
    margin-right: 13px;
}

.contact .social .btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: linear-gradient(#00c6ff, #0072ff);
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.contact .social .btn:hover i {
  color: #fff;
  transform: scale(1.3);
}

.contact .social .btn:hover::before {
  animation: onHover 0.7s 1;
  left: -10%;
  top: -10%;
}

@keyframes onHover {
  0% {
    left: -110%;
    top: 90%;
  }

  50% {
    left: 10%;
    top: -30%;
  }

  100% {
    left: -10%;
    top: -10%;
  }
}

.slide_container {
  width: 50%;
  float: left;
  margin-top: 8rem;
}

.slider_wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider_nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider_nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider_nav a:hover {
  opacity: 1;
}

.numbers_web {
  background: linear-gradient(#ffffff, #5da6eb);
  height: 10rem;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  align-items: center;
  display: flex;
  justify-content: center
}


.numbers_web h2 {
  font-weight: bold;
    font-family: Georgia;
    font-size: 28px;
}


.numbers_web .static {
  padding: 0 60px;
  text-align: center;
}

.numbers_web .static h6 {
  font-size: large;
}

.numbers_web .static i {
  font-size: 30px;
    margin-right: 13px;
}

.numbers_web .static p {
  font-weight: 700;
}

.courses_layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
  gap: 15px;
}

.courses_layout .create_course_button {
    margin-top: 20px;
}

.courses_layout h1, .profile_info h2 {
  font-size: 50px;
  letter-spacing: 1px;
  font-family: "Permanent Marker", cursive;
  text-shadow: 1px 1px 5px black;
  color: #fff;
}

.search_course label {
  background-color: #fff;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2.2rem;
  border-radius: 4px;
    margin-top: 2px;
}

.search_course .fa-solid.fa-magnifying-glass {
  width: 2rem;
  height: 1rem;
  margin-left: 1rem;
  text-decoration: none;
}

.search_course input {
  width: 30rem;
  background: transparent;
  border: none;
  outline: none;
  color: #050046;
}

.courses_layout .filters {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0px 10px;
  justify-content: center;
}

.courses_layout .filters .select_filter {
  width: 120px;
}
.courses_layout .filters .select_filter .select-btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  background: #fff;
  color: #050046;
  font-size: 18px;
  padding: 20px 0 20px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.select-btn span {
  margin-left: 8px;
}

.select-btn .fa-solid.fa-caret-down {
  font-size: 25px;
  transition: 1s;
  margin-right: 2px;
}

.select-btn.active .fa-solid.fa-caret-down {
  transform: rotate(180deg);
}

.select_filter .list {
  position: absolute;
  width: 120px;
  margin-top: 10px;
}

.list .option {
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  background: #fff;
  padding: 0 16px;
  cursor: pointer;
  transform-origin: top;
  opacity: 0;
  transform: scale(0) translateY(-65px);
  margin-bottom: -55px;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out,
    margin-bottom 0.2s ease-in-out;
  transition-delay: calc(0.1s * var(--i));
}

.select-btn.active ~ .list .option {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out,
    margin-bottom 0.2s ease-in-out;
  transition-delay: calc(0.1s * var(--i));
  opacity: 1;
  transform: scale(1) translateY(0);
  margin-bottom: 0;
}

.list .option:hover {
  background: #f2f2f2;
}

.list .option:nth-child(1) {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.list .option.option1:nth-child(5) {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.list .option.option2:nth-child(7) {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.option .option-text {
  color: #050046;
  font-size: 18px;
}

.courses_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  gap: 38px;
}

.courses_list .course {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.courses_list .course:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.course img {
  max-width: 300px;
    max-height: 200px;
  border-radius: 20px;
}

.course .tittle {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

.course .description {
  color: #f2f2f2;
  font-size: 15px;
  line-height: 22px;
  width: 80%;
}

.course .join_button {
  background: #fff;
  color: #050046;
}

.courses_layout .create_course_button a,
.course .join_button {
  text-decoration: none;
  color: black;
  background: white;
  border: 1px solid white;
  padding: 9px 25px;
  line-height: 1.4;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
}

.courses_layout .create_course_button a:hover,
.course .join_button:hover {
  transform: scale(1.2);
  border: 1px solid #050046;
  background: transparent;
  color: white;
  transition: 0.4s;
  cursor: pointer;
  font-weight: bold;
}

.pt-3 .ml-2 {
  color: white;
}

.profile_data {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
}

.profile_data .profile img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: solid 3px white
}

.profile_data .profile h1 {
  font-size: 50px;
  font-weight: 600;
  text-shadow: 1px 1px 5px black;
  color: #fff;
}

.profile_data .profile h2 {
  font-size: 28px;
}

.profile_data .profile h3 {
  font-size: 20px;
}

.profile_info {
  justify-content: center;
  text-align: center;
}

.edit_profile {
  background: #fff;
  width: 8rem;
  margin-left: 5.3rem;
  border-radius: 10px;
  height: 2rem;
  text-align: center;
  padding: 4px;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
}

.edit_profile:hover {
  background: var(--color-main);
}

.edit_profile a {
 text-decoration: none;
 color: var(--color-dark);
 font-weight: bold;
 width: 100%;
}

.profile_background {
  height: 20rem;
  width: 20rem;
  margin: 0 7rem;
}

.profile_info hr {
    margin-left: 10%;
    width: 80%;
}

.messages {
    list-style: none;
    margin: 1em 0 2em;
    padding: 0;
}

.messages li {
    padding: 1em;
    width: 100%;
    line-height: 2.0em;
}

.messages li.info, .messages li.debug {
    background-color: #d0ebff;
}

.messages li.success {
    background-color: #b2f2bb;
}

.message li.warning {
    background-color: #ffec99;
}

.messages li.error {
    background-color: #ffe3e3;
}