{% extends "../base/base.html" %}
{% block content %}
      <section class="room_form">
        <div class="creation">
          <div class="space_form">
            <h1>Create-Course</h1>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="form-action">
                <a class="btn_bbt" href="{% url 'courses' %}"> Cancel </a>
                <button class="btn_bbt" type="submit"> Submit</button>>
              </div>
            </form>
          </div>
        </div>
      </section>
{% endblock %}