{% extends "base/base.html" %}
{% load static %}
{% block title %}Degreed {{user.username}}{% endblock %}

{% block content %}
<div class="degrees_profile">
    <img src="{{ user.profile.profile_pic.url }}" alt="profile picture">
    <div>
      <h2>{{ user.first_name }} {{ user.last_name }}</h2>
      <h3>{{ user.username }}</h3>
    </div>
    
</div>

<section class="user-degrees-courses">
  <h3>Courses you attend</h3>
  <div class="course-degrees-block">
    <p class="degrees_course_name">Course name</p>
    <p class="degrees_course_degrees">Grade</p>
  </div>
  
  <ul>
    {% for course in courses %}
    <a href="{% url 'degrees_course' course.id %}">
      <li class="course-degrees-block">
          <p class="degrees_course_name">{{ course.title }}</p> 
          <p class="degrees_course_degrees">-</p>
      </li>
    </a>
    {% endfor %}
  </ul>
  
    
  
</section>
        

{% endblock content %}