{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Profil {{user.username}}{% endblock %}

{% block content %}
<div class="degrees_profile">
    <img src="{{ user.profile.profile_pic.url }}" alt="profile picture">
    <div class="degrees-profile-data">
      <h2>{{ user.first_name }} {{ user.last_name }}</h2>
      <h3>{{ user.username }}</h3>
    </div>
    
</div>

<section class="user-degrees-courses">
  <h3>Assignments</h3>
  <div class="course-degrees-block">
    <p class="degrees_course_name">Assignment</p>
    <p class="degrees_course_degrees">Grade</p>
  </div>
  
  <ul>
    {% for map in maps %}
    <a href="{% url 'assignment-submit' map.0.id %}">
        <li class="course-degrees-block">
            <p class="degrees_course_name">{{ map.0 }}</p>
            <p class="degrees_course_degrees">{% if map.1%}{{ map.1 }}{% else %}-{% endif %}</p>
        </li>
    </a>
    {% endfor %}
  </ul>
  
    
  
</section>

{% endblock content %}