{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Profil {{user.username}}{% endblock %}

{% block content %}
<div class="profile_data">
    <img class="profile_background" src="{% static 'images/profile_back_img.png' %}">
    <div class="profile">
        <h1>Your Profile</h1>
        <img src="{{ user.profile.profile_pic.url }}" alt="">
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <h3>{{ user.username }}</h3>
        <p>{{ user.email }}</p>
        <div class="edit_profile">
            <a href="{% url 'update-profile' %}">Edit profile</a>
        </div>
    </div>
    <img class="profile_background" src="{% static 'images/profile_back_img.png' %}" alt="">
</div>

<div class="profile_info">
    <hr>
    <h2>Your Courses</h2>
</div>

<section class="courses_list">
    {% for course in courses %}
    <div class="course">
        <img src="{{course.image.url}}" alt="" />
        <p class="tittle">{{ course.title }}</p>
        <p class="description">
            {{course.description}}
        </p>
    </div>
    {% endfor %}
    <!--        <div class="course">-->
    <!--            <img src="{% static 'images/default_course.jpg' %}" alt="">-->
    <!--            <p class="tittle">Inżynieria Oprogramowania</p>-->
    <!--            <p class="description">nauka diagramow przypadkow uzycia blablablablablablablabalbal</p>-->
    <!--            <button class="join_button">Join</button>-->
    <!--        </div>-->
    <!--        <div class="course">-->
    <!--            <img src="{% static 'images/default_course.jpg' %}" alt="">-->
    <!--            <p class="tittle">Inżynieria Oprogramowania</p>-->
    <!--            <p class="description">nauka diagramow przypadkow uzycia blablablablablablablabalbal</p>-->
    <!--            <button class="join_button">Join</button>-->
    <!--        </div>-->
    <!--        <div class="course">-->
    <!--            <img src="{% static 'images/default_course.jpg' %}" alt="">-->
    <!--            <p class="tittle">Inżynieria Oprogramowania</p>-->
    <!--            <p class="description">nauka diagramow przypadkow uzycia blablablablablablablabalbal</p>-->
    <!--            <button class="join_button">Join</button>-->
    <!--        </div>-->
    <!--        <div class="course">-->
    <!--            <img src="{% static 'images/default_course.jpg' %}" alt="">-->
    <!--            <p class="tittle">Inżynieria Oprogramowania</p>-->
    <!--            <p class="description">nauka diagramow przypadkow uzycia blablablablablablablabalbal</p>-->
    <!--            <button class="join_button">Join</button>-->
    <!--        </div>-->
    <!--            </div>-->
    <!--      <a class="ml-2" href="{% url 'update-profile' %}">Modyfikuj profil</a>-->
    <!--    </div>-->
</section>
{% endblock content %}