{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Rejestracja{% endblock %}

{% block content %}
    <h1>Rejestracja!</h1>
    <form method="POST">
      {% csrf_token %}
        <fieldset class="form-group">
            {{form.username|as_crispy_field}}
            {{form.email|as_crispy_field}}
            {{form.first_name|as_crispy_field}}
            {{form.last_name|as_crispy_field}}
            {{form.password1|as_crispy_field}}
            {{form.password2|as_crispy_field}}
            {{form.captcha}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info"type="submit">Zarejestruj</button>
        </div>
    </form>
{% endblock %}