
<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/user_style.css' %}" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Register Form</title>
  </head>
  <body>
    <div class="wrapper">
        <form method="post">
    {% csrf_token %}
    <h1>Register</h1>
    <div class="input-box">
        {{ form.username }}
        <i class="bx bxs-user"></i>
    </div>
    <div class="input-box">
        {{ form.email }}
        <i class='bx bx-envelope'></i>
    </div>

    <div class="input-box">
        {{ form.first_name }}
        <i class="bx bxs-user"></i>
    </div>
    <div class="input-box">
        {{ form.last_name }}
        <i class="bx bxs-user"></i>
    </div>
    <div class="input-box">
        {{ form.password1 }}
        <i class="bx bxs-lock-alt"></i>
    </div>
    <div class="input-box">
        {{ form.password2 }}
        <i class="bx bxs-lock-alt"></i>
    </div>
    <div class="input-box">
        {{ form.captcha }}
    </div>


    <button type="submit" class="btn">Register</button>

    <div class="register-link">
        <p>Have you an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
</form>
    </div>
  </body>
</html>

{% endblock %}